<div class='container px-5 px-0'>
  <div class="row pt-5">
    <div class="col-md-4 offset-md-4">
      <h2>投稿編集</h2>
      <%= render 'layouts/errors', obj: @post %>
        <%= form_with model: @post, url: post_path(@post), method: :patch, local: true do |f| %>
           <%= f.label :動物の種類 %>
           <%#select_typeはpet.rbのデーターを取ってきた %>
           <%= f.collection_select :pet_id, current_customer.pets, :id, :select_type, { include_blank: '選択してください'}, { class: 'form-control'} %><br>
           <%= f.label :日付 %>
           <%= f.datetime_field :date %><br>
           <%= f.label :体重 %>
           <%= f.text_field :weight, class: "form-control", placeholder: "例) 6kg" %>
           <%= f.label :フード種類 %>
           <%= f.text_field :feed, class: "form-control", placeholder: "例) 缶詰め" %>
           <%= f.label :フード量 %>
           <%= f.text_field :amount_food, class: "form-control", placeholder: "例) 50g" %>
           <div class="pt-3">
            <%= f.submit '変更を保存', class: 'btn btn-success' %>
           </div>
        <% end %>
    </div>
  </div>
</div>