<div class='container px-5 px-0'>
  <div class="row">
    <div class="col-8">
      <h2 class="py-5">ペット新規登録</h2>
    </div>
  </div>
   <div class="row">
    <div class="col-6 offset-3">
      <%= render 'layouts/errors', obj: @pet %>
        <%= form_with model: @pet, url: pets_path, method: :post, local: true do |f| %>
            <%= f.label :動物画像 %>
            <%= f.file_field :image, placeholder: "ファイルを選択", accept: "image/*" %><br>
            <%= f.label :ペット名 %>
            <%= f.text_field :pet_name, class: "form-control", placeholder: "例) ペット名" %>
            <%= f.label :動物の種類 %>
            <%= f.text_field :pet_type, class: "form-control", placeholder: "例) 犬" %>
            <%= f.label :動物の品類 %>
            <%= f.text_field :pet_kind, class: "form-control", placeholder: "例) トイプードル" %>
            <%= f.label :体色 %>
            <%= f.text_field :color, class: "form-control", placeholder: "例) 白" %>
            <%= f.label :生年月日 %><br>
            <%= f.date_select :birth_date, {use_month_numbers: true, start_year: 1930, #入力値の開始位置
                end_year: (Time.now.year - 0), #入力値の終了位置（現在から０年前に指定）
                default: Date.new(2001, 1, 1)} %><br> <%#デフォルトで表示されている値 %>
            <%= f.label :性別 %><br>
            <%= f.collection_radio_buttons :gender, Pet.genders_i18n, :first, :last %><br>  <%# {"male"=>"オス", "female"=>"メス", "unknown"=>"不明 %>
            <%= f.label :性格 %>
            <%= f.text_area :personality, class: "form-control", placeholder: "例) 活発" %>
            <div class="pt-3">
             <%= f.submit '新規登録', class: 'btn btn-success' %>
            </div>
        <% end %>
    </div>
   </div>
  </div>
</div>