<div class='container px-5 px-0'>
  <div class="row pt-5">
    <div class="col-md-6 offset-md-3">
      <h2>ペット新規登録</h2>
        <%= form_with model: @pet, url: pets_path, method: :post, local: true do |f| %>
            <%= f.label :動物画像 %>
            <%= f.file_field :image, placeholder: "ファイルを選択", accept: "image/*" %><br>
            <%= f.label :ペット名 %>
            <%= f.text_field :pet_name, class: "form-control", placeholder: "例) ペット名" %>
            <%= f.label :動物の種類 %>
            <%= f.text_field :pet_type, class: "form-control", placeholder: "例) 犬" %>
            <%= f.label :動物の品類 %>
            <%= f.text_field :pet_kind, class: "form-control", placeholder: "例) トイプードル" %>
            <%= f.label :体色 %>
            <%= f.text_field :color, class: "form-control", placeholder: "例) 白" %>
            <%= f.label :生年月日 %><br>
            <%#= f.date_select :birth_date, use_month_numbers: true, start_year: 1930,
                end_year: (Time.now.year - 0),default: Date.new(2001, 1, 1)  %>
            <%= f.label :性別 %><br>
            <%= f.radio_button :gender, 0 %>
            <%= label :gender, "オス", {value: 0, style: "display: inline-block;"} %>
            <%= f.radio_button :gender, false %>
            <%= label :gender, "メス", {value: :false, style: "display: inline-block;"} %>
            <%= f.radio_button :gender, 1 %>
            <%= label :gender, "不明", {value: 1, style: "display: inline-block;"} %><br>
            <%= f.label :性格 %>
            <%= f.text_area :personality, class: "form-control", placeholder: "例) 活発" %>
            <div class="pt-3">
             <%= f.submit '新規登録', class: 'btn btn-success' %>
            </div>
        <% end %>
    </div>
  </div>
</div>