<div class='container px-5 px-sm-0'>
 <div class="row">
    <div class="col-8">
      <h2 class="py-5">ペット登録詳細</h2>
    </div>
  </div>
  <div class='row'>
    <div class="col-5 d-flex justify-content-center">
     <%= image_tag @pet.get_profile_image(120, 120) %>
    </div>
    <div class='col-5 offset-md-1'>
     <table class="table">
      <tr>
       <td>ユーザー名</td>
       <td><%= @pet.customer.name %></td>
      </tr>
      <tr>
       <td>ペット名</td>
       <td><%= @pet.pet_name %></td>
      </tr>
      <tr>
       <td>動物の種類</td>
       <td><%= @pet.pet_type %></td>
      </tr>
      <tr>
       <td>動物の品種</td>
       <td><%= @pet.pet_kind %></td>
      </tr>
      <tr>
       <td>体色</td>
       <td><%= @pet.color %></td>
      </tr>
      <tr>
       <td>生年月日</td>
       <td><%= @pet.birth_date %></td>
      </tr>
      <tr>
       <td>性別</td>
        <% if @pet.gender == "male" %>
          <td>オス</td>
         <% elsif @pet.gender == "female"%>
         <td>メス</td>
         <% else %>
         <td>不明</td>
        <% end %>
      </tr>
      <tr>
        <td>性格</td>
        <td><%= @pet.personality %></td>
      </tr>
      <tr>
         <td class="d-flex justify-content-center">
          <% if @pet.customer == current_customer %>
           <%= link_to "編集する", edit_pet_path, class: "btn btn-success" %>
          <% end %>
        </td>
         <td>
          <% if @pet.customer == current_customer %>
           <%= link_to "削除する", pet_path(@pet.id),  data: { confirm: "本当に消しますか？" }, method: :delete, class: "btn btn-danger" %>
          <% end %>
        </td>
      </tr>
     </table>
     <div class="d-flex justify-content-end">
       ペット登録一覧は
       <%= link_to pets_path do %>
        こちら
       <% end %>
     </div>
    </div>
   </div>
 </div>