 <header class="shadow-sm">
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <div class="container">
       <a class="navbar-brand" href="/"><span>Animal_weight</span></a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                         aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if customer_signed_in? %>   <!--会員がログインしている場合-->
              <li style="color:limegreen;" class="pt-2"><span>ようこそ<%= current_customer.name %>さん！</span></li>
               <li>
                 <%= link_to customers_mypage_path, class: 'nav-link text-light' do %>
                   <i class="fas fa-user"></i> マイページ
                 <% end %>
               </li>
               <li>
                 <%= link_to posts_path, class: 'nav-link text-light' do %>
                   <i class="fas fa-birthday-cake"></i> 投稿一覧
                 <% end %>
               </li>
               <li>
                 <%= link_to new_pet_path, class: 'nav-link text-light' do %>
                   <i class="fas fa-shopping-cart"></i> ペット登録
                 <% end %>
               </li>
               <li>
                <%= link_to destroy_customer_session_path, class: 'nav-link text-light' do %>
                  <i class="fas fa-sign-out-alt"></i> ログアウト
                <% end %>
               </li>
              <% elsif  admin_signed_in? %>  <!--管理者がログインしている場合-->
              <li>
                <%= link_to admin_customers_path, class: 'nav-link text-light' do %>
                  <i class="fas fa-user-circle"></i> 会員一覧
                <% end %>
              </li>
              <li>
                <%= link_to admin_commment_index_path, class: 'nav-link text-light' do %>
                  <i class="fas fa-clipboard-list"></i> コメント履歴一覧
                <% end %>
              </li>
              <li>
                <%= link_to destroy_admin_session_path, class: 'nav-link text-light' do %>
                  <i class="fas fa-sign-out-alt"></i> Log out
                <% end %>
              </li>
              <% else %>  <!--ログインしていない状態-->
                <li>
                  <%= link_to homes_about_path,class: 'nav-link text-light' do %>
                    <i class="fas fa-link"></i> About
                  <% end %>
                </li>
                <li>
                  <%= link_to root_path,class: 'nav-link text-light' do %>
                    <i class="fas fa-birthday-cake"></i> ゲストログイン
                  <% end %>
                </li>
                <li>
                  <%= link_to new_customer_registration_path,class: 'nav-link text-light' do %>
                    <i class="fas fa-user-plus"></i> 新規会員登録
                  <% end %>
                </li>
                <li>
                  <%= link_to new_customer_session_path,  class: 'nav-link text-light' do %>
                    <i class="fas fa-sign-in-alt"></i> ログイン
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>