 <header class="shadow-sm">
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <div class="container">
       <a class="navbar-brand" href="/"><span>Animal_weight</span></a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                         aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if customer_signed_in? %>   <!--会員がログインしている場合-->
              <li style="color:limegreen;" class="pt-2"><span>ようこそ<%= current_customer.name %>さん！</span></li>
               <li>
                 <%= link_to customers_mypage_path, class: 'nav-link text-light' do %>
                   <i class="fas fa-user"></i> マイページ
                 <% end %>
               </li>
               <li>
                 <%= link_to posts_path, class: 'nav-link text-light' do %>
                   <i class="fas fa-list-ul"></i> 投稿一覧
                 <% end %>
               </li>
             <%#ゲストで入るとペット登録をしないように設定したので一緒にheaderのペット登録が見えないようにする %>
             <% if !current_customer.guest? %>
               <li>
                 <%= link_to new_pet_path, class: 'nav-link text-light' do %>
                   <i class="fas fa-paw"></i> ペット登録
                 <% end %>
               </li>
             <% end %>
               <li>
                <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link text-light' do %>
                  <i class="fas fa-sign-out-alt"></i> ログアウト
                <% end %>
               </li>
              <% elsif  admin_signed_in? %>  <!--管理者がログインしている場合-->
              <li>
                <%= link_to admin_customers_path, class: 'nav-link text-light' do %>
                  <i class="fas fa-user-circle"></i> 会員一覧
                <% end %>
              </li>
              <li>
                <%= link_to admin_commment_index_path, class: 'nav-link text-light' do %>
                  <i class="far fa-comments"></i> コメント履歴一覧
                <% end %>
              </li>
              <li>
                <%= link_to destroy_admin_session_path, class: 'nav-link text-light' do %>
                  <i class="fas fa-sign-out-alt"></i> Log out
                <% end %>
              </li>
              <% else %>  <!--ログインしていない状態-->
                <li>
                  <%= link_to homes_about_path, class: 'nav-link text-light' do %>
                    <i class="fas fa-link"></i> About
                  <% end %>
                </li>
                <li>
                  <%= link_to customers_guest_sign_in_path, method: :post, class: 'nav-link text-light' do %>
                    <i class="fas fa-user"></i> ゲストログイン
                  <% end %>
                </li>
                <li>
                  <%= link_to new_customer_registration_path, class: 'nav-link text-light' do %>
                    <i class="fas fa-user-plus"></i> 新規会員登録
                  <% end %>
                </li>
                <li>
                  <%= link_to new_customer_session_path, class: 'nav-link text-light' do %>
                    <i class="fas fa-sign-in-alt"></i> ログイン
                  <% end %>
                </li>
              <% end %>
              <%#検索窓%>
              <% if signed_in? %>
                <div class="search_form">
                  <%# 検索内容をwordとしてアクションに送る。%>
                  <%= form_with url: search_path, local: true, method: :get do |f| %>
                    <%= f.text_field :word, size: 10, placeholder: "検索" %>
                    <%# 選択したモデルをrangeとしてアクションに送る %>
                    <%= f.select :range, options_for_select([['Pet'], ['Post']]) %>
                    <%# 選択した検索手法をsearchとしてアクションに送る %>
                    <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
                    <%= f.submit "検索", class: "btn btn-primary btn-sm" %>
                  <% end %>
                </div>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>